<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/18c06a9acc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./styles/css/main.css">
</head>

<body>


    <%- include('./partials/navbar.ejs') %>

    
    <header class="section header-howtobuy">

        <main class="section-main">
            <div class="header-howtobuy-left">
                <h1 class="title">How to buy <span>NC coin</span></h1>
                <h2>We will lead you through every step necessary to buy NC coin</h2>
            </div>
            <div class="header-howtobuy-right">
                <img class="icon" src="./images/icons/NCCOIN_square.png">
            </div>
        </main>

    </header>



    <section class="section-howtobuy howtobuy-binance">

        <div class="section-main">

            <h1 class="title">You need to be on BINANCE</h1>

            <div class="explanation" style="display: none;">

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-registration.gif" alt="">

                    <h1 class="name">Register on binance</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-verify.png" alt="">
                    
                    <h1 class="name">verify your email</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-code.png" alt="">
                    
                    <h1 class="name">Register on binance</h1>
                </div>

            </div>

            <div class="button-standard button-explanation">
                <h1 class="button-text">Show me how!</h1>
            </div>

        </div>

        

    </section>

    <section class="section-howtobuy howtobuy-metamask">

        <div class="section-main">

            <h1 class="title">You need to have metamask WALLET</h1>

            <div class="explanation" style="display: none;">

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-registration.gif" alt="">

                    <h1 class="name">Register on binance</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-verify.png" alt="">
                    
                    <h1 class="name">verify your email</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-code.png" alt="">
                    
                    <h1 class="name">Register on binance</h1>
                </div>

            </div>

            <div class="button-standard button-explanation">
                <h1 class="button-text">Show me how!</h1>
            </div>

        </div>

        

    </section>

    <section class="section-howtobuy howtobuy-something">

        <div class="section-main">

            <h1 class="title">You need to be on binance</h1>


            <div class="explanation" style="display: none;">

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-registration.gif" alt="">

                    <h1 class="name">Register on binance</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-verify.png" alt="">
                    
                    <h1 class="name">verify your email</h1>
                </div>

                <div class="explanation-card">

                    <img src="./images/howtobuy/binance-code.png" alt="">
                    
                    <h1 class="name">Register on binance</h1>
                </div>

            </div>

            <div class="button-standard button-explanation">
                <h1 class="button-text">Show me how!</h1>
            </div>

        </div>

        

    </section>

</body>

<script src="./scripts/howtobuys-explanation.js"></script>

</html>