.button-standard {

    padding: 1.5rem 3.75rem;


    background-color: $blue-four;
    border: 0.2rem solid black;
    border-radius: 1.5rem;
    box-shadow: 0 0 1.5rem rgba(black, 0.25);

    cursor: pointer;
    
    display: flex;
    align-items: center;
}