.navbar {
    position: relative;
    top:0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    backdrop-filter: blur(16px);
    transition: background-color .2s;
    z-index: 100;

}

.shadow-bg {
    background-color: $shadow;
}

.hamburger {
    display: none;
    padding: 2px;
    margin-right: 5%;
}

.bar {
    display: block;
    width: 30px;
    margin: 5px auto;
    height: 5px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


.nav-menu {
    display: flex;
    width: 600px;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    // z-index: 100;
}

.nav-item {
    list-style: none;
}

.nav-link {
    font-size: 2.2rem;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s;
}

.nav-link:hover {
    padding: 6px 15px;
    background-color: rgba(255, 255, 255, 0.219);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 15px;
    box-shadow: 0px 2px 26px rgb(29, 29, 29);
}

@media only screen and (max-width: 550px) {
    .nav-menu {
        position: fixed;
        top: -1008%;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        transition-timing-function: linear;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.65);
        z-index: 1;
    }

    .navbar {
        justify-content: flex-end;
    }

    .nav-menu.active {
        top: 79px;
    }

    .nav-item {
        margin: 3.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}
